<header>
  <nav>
      <a href="#" class="home">
          <img id="home-logo" src="assets/img/home.png" class="d-inline-block align-top" alt="">
      </a>
      <a href="#" id="boards-nav" class="header-button" routerLink="/home" routerLinkActive="active">
          <img id="boards-logo" src="assets/img/board.png" class="d-inline-block align-top" alt="">
              Boards
      </a>
      <a class="center" href="#">
          <img id="trello-logo" src="assets/img/trello.png" width="80" height="30" class="d-inline-block align-top" alt="">
      </a>
      <a class="right-btns">
          <img id="add-btns" src="assets/img/add.PNG" alt="" height="30px" width="30px">
          <img id="info-btns" src="assets/img/info.PNG" alt="" height="30px" width="30px">
          <img id="noti-btns" src="assets/img/notification.PNG" alt="" height="30px" width="30px">
          <img id="nb-btns" src="assets/img/nb.PNG" alt="" height="30px" width="30px">
      </a>
  </nav>
</header> 

<div class="boards-wrapper">

<button mat-stroked-button class="add-board" (click)="openDialog()">
  <div class="tittle-add-board">
      Create new board
  </div>
</button>

<h2>Boards</h2>

  <div id="content" *ngFor="let divData of dataSource">
  <div>
    <button mat-raised-button class="contentInside" (click)="onClick(divData.id)" >
        <span class="title">{{divData.name}}</span>
    </button>
  </div>
</div>

</div>


