<header>
        <nav>
            <a href="#" class="home">
                <img id="home-logo" src="assets/img/home.png" class="d-inline-block align-top" alt="">
            </a>
            <a href="#" id="boards-nav" class="header-button" routerLink="/home" routerLinkActive="active">
                <img id="boards-logo" src="assets/img/board.png" class="d-inline-block align-top" alt="">
                Boards
            </a>
            <a class="center" href="#">
                <img id="trello-logo" src="assets/img/trello.png" width="80" height="30" class="d-inline-block align-top" alt="">
            </a>
                <a href="" id="login" class="header-button-log" routerLink="/login" routerLinkActive="active">
                    Log in 
                </a>
                <a href="" id="signup" class="header-button-sign" routerLink="/register" routerLinkActive="active">
                    Sign Up
                </a>
        </nav>
</header>
   
<router-outlet></router-outlet>

