
<header>
    <nav>
        <a href="#" class="home">
            <img id="home-logo" src="assets/img/home.png" class="d-inline-block align-top" alt="">
        </a>
        <a href="#" id="boards-nav" class="header-button" routerLink="/home" routerLinkActive="active">
            <img id="boards-logo" src="assets/img/board.png" class="d-inline-block align-top" alt="">
                Boards
        </a>
        <a class="center" href="#">
            <img id="trello-logo" src="assets/img/trello.png" width="80" height="30" class="d-inline-block align-top" alt="">
        </a>
        <a class="right-btns">
            <img id="add-btns" src="assets/img/add.PNG" alt="" height="30px" width="30px">
            <img id="info-btns" src="assets/img/info.PNG" alt="" height="30px" width="30px">
            <img id="noti-btns" src="assets/img/notification.PNG" alt="" height="30px" width="30px">
            <img id="nb-btns" src="assets/img/nb.PNG" alt="" height="30px" width="30px">
        </a>
    </nav>
  </header> 
            <!--<app-add-board-dialog (messageEvent)="receiveMessage($event)"></app-add-board-dialog>-->

<div class="board-wrapper">
        <div class="board-columns" (data)="boardData($event)" >
            <a class="board-column" routerLink="/board" *ngFor="let divData of listsName">
                <div class="board-title"> 
                    {{divData}}
                </div>
            </a>
            <button mat-raised-button class="board-add-column" (click)="openDialog()">Create new list</button>
        </div>
</div>

