

            <!--<app-add-board-dialog (messageEvent)="receiveMessage($event)"></app-add-board-dialog>-->

<div class="board-wrapper">
        <div class="board-columns" (boardData)="eventEmitterMessage($event)" >
            <a class="board-column" routerLink="/board" *ngFor="let divData of listsName"><h4> {{divData}}</h4></a>
            <button class="board-add-column" >Create new list</button>
        </div>
</div>



<!--<app-add-list-dialog (messageEvent)="receiveMessage($event)"></app-add-list-dialog>-->
